name: CI

on:
  push:
  pull_request:

jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          # - "3.9"
          # - "3.10"
          # - "3.11"
          - "3.12"
          - "3.13"
    name: PyTest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install deps
        run: python -m pip install -r ./requirements.txt

      - name: Setup DB
        run: python ./test_init.py

      - name: Setup Playwright
        run: playwright install
      
      - name: Run pytest
        run: |
        python app.py &
        pytest
    

